body {
	background: #fff url('bg.jpg') no-repeat fixed center;
}
h1 {
	color:#fff;
	text-align: center;
}
.credit {
	position: absolute;
	bottom: 0.5%;
	right: 0.5%;
}
.feature {
	background-color: rgba(0, 0, 0, .35);
	color: #eee;
	padding: 15px;
	border-radius: 10px;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }